.curved {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 150px;
}

.curved h1 {
  font-size: 50px;
  font-weight: 600;
}

.curved p {
  font-size: 20px;
}

.svg1 {
  margin-bottom: -1px;
  margin-left: -2px ;
  margin-right: -4px ;
}

.svg2 {
  transform: rotate(180deg);
  margin-top: -4px;
  margin-bottom: -6px;
}

@media screen and (max-width: 600px) {
  .curved h1 {
    font-size: 40px;
  }
}