<div class="contact" id="contact">
    <div class="contact-head">
        <h2 class="c-h2">CONTACT</h2>
        <p>Get in Touch <span></span></p>
    </div>
    <div class="contact-content">
        <div class="contact-inputs">
            <h2>SEND US A NOTE</h2>
            <div class="c-input">
                <input type="text" name="name" placeholder="Name" id="name" required>
                <input type="email" name="email" placeholder="Email" id="email" required>
                <textarea type="email" name="email" placeholder="Tell us more about your needs..." id="message"
                    required></textarea>
                <a routerLink="" class="main-btn">Send Message</a>
            </div>
        </div>
        <div class="contact-list">
            <h2>ADDRESS</h2>
            <P>4th Floor, Plot No.22,
                145 Murphy Canyon Rd.
                San Diego CA 2028</P>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 ms-md-0 ms-2">
                        <div class=" row flex-row justify-content-start align-items-center">
                            <div class="col-2 offset-1 offset-md-0 ps-md-0"><i class="fas fa-phone"></i></div>
                            <div class="col-9">
                                <p class="text-start m-0"> (060) 444 434 444</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-3 ms-md-0 ms-2">
                        <div class=" row flex-row justify-content-start align-items-center">
                            <div class="col-2 offset-1 offset-md-0 ps-md-0"><i class="fas fa-fax"></i></div>
                            <div class="col-9">
                                <p class="text-start m-0"> (060) 555 545 555</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12  mb-3 ms-md-0 ms-2">
                        <div class=" row flex-row justify-content-start align-items-center">
                            <div class="col-2 offset-1 offset-md-0 ps-md-0"><i class="fas fa-envelope"></i></div>
                            <div class="col-9">
                                <p class="text-start m-0"> chat@simone.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mt-1">FOLLOW ME</h2>
        </div>
    </div>
</div>