footer {
    padding: 50px 85px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 550;
}

.copy-r a {
    color: #776dca;
    font-weight: 600;
    transition: color 0.5s;
}

.links a {
    text-align: center;
    padding: 0px 15px;
    color: #ffffff;
    font-weight: 550;
    transition: all 0.5s;
}

.links a:hover {
    color: rgb(28,73,131);
}

.copy-r a:hover {
    color: rgb(18,7,37);
}

@media screen and (max-width:992px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 66px 0px;
    }

    .copy-r {
        margin-bottom: 16px;
        text-align: center;
    }

    .links {
        text-align: center;
    }
}